.caja{
    width: 100%;
    margin: auto;
    
    display: flex;
}

.caja div{
    width: 100px;
    height: 90px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    
}

.q{
    background-image:url(../img/c1.png);
    background-size: cover;
}

.w{
    background-image:url(../img/c2.png);
    background-size: cover;
}

.e{
    background-image:url(../img/c3.png);
    background-size: cover;
}
